.loginSection {
  width: 100%;
  height: 100vh;
  padding: 35px 25px;
  background: #fff;
  position: relative;
}
.loginBox .logo img {
  border-radius: 10px !important;
}
.loginPattern {
  width: 100%;
  height: 100%;
  opacity: 0.09;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  pointer-events: none;
}
.loginSection .loginBox {
  width: 400px;
  height: auto;

  margin: auto;
}

.loginSection .loginBox .wrapper {
  width: 100%;
  height: 320px;
  background: #f0f0f0;
  position: relative;
  z-index: 100;
  padding: 35px;
}
.loginSection .loginBox .wrapper .form-control {
  background: #fff !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 8px !important;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  padding-left: 40px;
}
.loginSection .loginBox .wrapper .form-control:focus {
  border: 1px solid #0858f7 !important;
}
.loginSection .loginBox .wrapper .form-group.focus .icon svg {
  color: #0858f7 !important;
}
.loginSection .loginBox .wrapper .form-group .icon {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 100;
  font-size: 23px;
}
.loginSection .loginBox .wrapper .form-group .icon svg {
  color: #5e5d72;
}

.toggleShowPassword {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
}
.toggleShowPassword svg {
  font-size: 22px;
}
