.right-content {
  padding: 90px 30px;
}
.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 200px;
  background: #ccc;
}
.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
  background: #ccc;
}
