.right-content {
  padding: 90px 30px;
  padding-bottom: 10px;
}
.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #fff;
  text-transform: capitalize !important;
}
.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 20px;
  font-weight: 600;
}

.dashboardBoxWrapper .dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}
.dashboardBoxWrapper .dashboardBox .icon svg {
  font-size: 36px;
  opacity: 0.4;
  color: #fff;
}

.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px !important;
  font-weight: bold;
  line-height: 45px;
  display: block;
  margin-right: 55px !important;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.dashboardBoxWrapper .dashboardBox .chart {
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.dashboardBoxWrapper .dashboardBox .chart svg {
  font-size: 120px;
  color: #000;
}
.dashboardBoxWrapper .dashboardBox .bottomEle {
  position: relative;
  top: 15px;
}
.dashboardBoxWrapper .dashboardBox .MuiList-root svg {
  font-size: 17px !important;
  color: #000 !important;
}
.dropDown_menu .MuiButtonBase-root svg {
  margin-right: 5px !important;
  font-size: 20px !important;
  color: #000 !important;
}
.graphBox {
  background-image: linear-gradient(#1a50b5, #2a6ff7);
  border-radius: 10px;
  padding: 20px; /* Increased padding */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Increased margin */
}
.toggleIcon {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.toggleIcon svg {
  color: #fff !important;
  font-size: 20px !important;
  opacity: 1 !important;
}
.graphBox .toggleIcon svg {
  rotate: 90deg;
}

.graphBox h4 {
  font-size: 20px;
  font-weight: 600;
}
.graphBox p {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}

.custom-chart {
  flex-grow: 1;
  width: 100% !important;
  height: 100% !important;
}

.card {
  margin: 20px 0px;
  border-radius: 10px;
}
.card .hd {
  font-size: 18px;
  font-weight: bold;
  color: #403e57;
}
.cardFilters .col h4 {
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  color: #403e57;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 14px !important;
  border-radius: 1px !important;
}

.table tbody td {
  font-size: 14px !important;
  color: #403e57;
  font-weight: 500;
}

.table tbody .actions button {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin: 0px 3px !important;
}
.table tbody .actions .MuiButton-root .MuiSvgIcon-root {
  transition: none !important;
  transform: none !important;
  width: auto !important;
  height: auto !important;
}
.table tbody .actions button.secondary {
  background: rgba(203, 60, 231, 0.2) !important;
}
.table tbody .actions button.success {
  background: rgba(26, 159, 83, 0.2) !important;
}
.table tbody .actions button.error {
  background: rgba(241, 17, 51, 0.2) !important;
}
.table tbody .actions button svg {
  font-size: 32px !important;
}

table.v-align td {
  vertical-align: middle !important;
}
.table td .old,
.table td .new {
  display: block;
  width: 100%;
}

table td .imgWrapper {
  width: 20%;
  flex: 0 0 20%;
}
table td .imgWrapper img {
  border-radius: 5px;
}
table td .info {
  width: 65%;
  flex: 0 0 65%;
}

table td .info h6 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  font-weight: 600;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 7px;
  margin-bottom: 0px;
}
table td .info p {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e5d72;
  margin-bottom: 0px;
}
table.v-align td .productBox {
  width: 280px;
}

.tableFooter {
  padding-bottom: 20px;
}
.tableFooter .pagination {
  margin-left: auto;
}
.tableFooter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}
