.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px !important;
  padding: 10px 15px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
  color: #5e5d72 !important;
  text-align: left;
  justify-content: left;
  border-radius: 10px !important;
  padding: 12px 10px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 600;
  font-size: 15px !important;
  font-family: "Open Sans", sans-serif !important;
}

.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px !important;
  height: 25px;
  margin-right: 10px !important;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  color: #000;
  opacity: 0.7;
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button .arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px !important;
  height: 25px;
}
.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button * {
  color: #5e5d72 !important;
}
.main .sidebarWrapper .sidebar ul .submenu {
  padding-left: 23px;
}
.main .sidebarWrapper .sidebar ul .submenu li {
  width: 100%;
  list-style: none;
  padding-left: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d72 !important;
  text-decoration: none;
  display: block;
  padding: 5px 0px;
  font-size: 14px !important;
  font-weight: 500;
  transition: all 0.3s;
}
.main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0156ff !important;
}
