.main .sidebarWrapper .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 20px !important;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents line breaks */
  justify-content: space-between; /* Distributes space between items */
  height: 100vh; /* Full height of the viewport */
}

.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px !important;
  padding: 10px 15px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
  color: #000;
  text-align: left;
  justify-content: left;
  border-radius: 0px !important;
  padding: 12px 15px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 500;
  font-family: "Open Sans", sans-serif !important;
}

.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px !important;
  height: 25px;
  margin-right: 10px !important;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  color: #000;
  opacity: 0.7;
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button .arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px !important;
  height: 25px;
}
.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button * {
  color: rgba(0, 0, 0, 0.7) !important;
}

.main .sidebarWrapper .sidebar .sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; /* Pushes the logo to the bottom */
  padding: 20px 0; /* Adds padding around the logo */
  margin-bottom: 20px;
}

.main .sidebarWrapper .sidebar .sidebar-logo img {
  max-width: 20%; /* Decrease the width */
  height: auto;
  border-radius: 10px;
}
.main .sidebarWrapper .sidebar .sidebar-logo span {
  text-decoration: none;
  color: #000;
  font-size: 20px !important;
  font-weight: bold;
}
