.footer {
  background-color: #f8f9fa;

  display: flex;

  align-items: center;
}

.footer .text-gray-600 {
  color: #6c757d;
}

.footer .text-blue-500 a {
  color: #007bff;
  text-decoration: none;
}

.footer .text-blue-500 a:hover {
  text-decoration: underline;
}

.footer .text-blue-500 .hover:underline {
  color: #007bff;
  text-decoration: none;
}

.footer .text-blue-500 .hover:underline:hover {
  text-decoration: underline;
}
.footer .nameFooter {
  left: 100px;
}
body.dark .footer {
  background: #12254e !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.main .mc-footer {
  font-size: 14px;
  margin-top: 24px;
  text-align: center;
  width: 100%;
}
